.starter {  
  background-color: #ffd230;
  color: black;
  padding: 1% 20%;
  border: none;
  font-size: 1.1rem;
  font-weight: 500;
  margin: 2%;
  cursor: pointer;
}

#starter:hover {
  background-color: rgb(196, 182, 51);
}

#starter_answer {
  margin: 2%;
}

input {
  padding: 3% 20%;
}
