.starter {
  background-color: #fac816;
  color: black;
  padding: 3% 20%;
  border: none;
  font-size: large;
  margin: 2%;
}

#starter:hover {
  background-color: rgb(196, 182, 51);
}

#starter_answer {
  margin: 2%;
}

input {
  padding: 3% 20%;
}
