.score {
  width: 25%;
  text-align: left;
  font-size: 1.25rem;
  letter-spacing: normal;

}

span {
  letter-spacing: -.0625rem;
  font-size: 1.25rem;
  font-weight: bold;
  padding-left: 5px;
  padding-bottom: 5px;
}