p {
  padding-bottom: 8px;
  font-size: 1.1rem;
  line-height: 1.30rem;
}

.htp {
  display: flex;
  font-size: large;
  padding: 1%;
  margin-left: 25%;
  margin-top: 1%;
  border: none;
  background-color: black;
  color: white;
  cursor: pointer;
}

.htp:hover {
  background-color: rgb(50, 47, 47);
}

.border {
  border: solid 1px #dbdbdb;;
  padding: 2%;
  margin-left: 25%;
  margin-top: 8px;
  text-align: left;
}
    