.giveUp_button {
    font-size: 1rem;
    background-color: #ededed;
    color: #252525;
    display: flex;
    margin-left: 25%;
    margin-top: 4%;
    padding: 1.5%;
    text-align: center;
    border: 0;
    cursor: pointer;
}