* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: ReithSans, Arial, Helvetica, freesans, sans-serif;

  /* -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}

h2 {

  text-align: left;
  margin-top: 5%;
  margin-left: 25%;
  padding-bottom: 1%;

}

.app {
  width: 50%;
  text-align: center;
}

.app__score {
  /* display: flex; */
  /* justify-content: space-between;
  width: 50%; */
  margin-left: 25%;
  margin-top: 5%;
}