.carousel {
  margin-left: 25%;
  padding-top: 8%;
}

.blocked {
  filter: blur(10px);
}

.unblocked {
  filter: none;
  }

/*
.customarrow {
    background-color: red;
    color: white;
    width: 164px;
    height: 164px;
  } */